form {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 900px;
    margin: 0 auto 40px;
}

input {
    padding: 5px;
    font-size: 16px;
    border-radius: 8px;
    border: 1px solid #DF3B57;
    flex-grow: 1;
}

button {
    padding: 5px 10px;
    font-size: 16px;
    background-color: #DF3B57;
    color: white;
    border: none;
    border-radius: 8px;
    margin-left: 10px;
}

